@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.site-header {
  background: #0350b5;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: white;
}

.nav-text {
  color: white !important;
}

.nav-divider {
  height: 1px;
  background-color: #7ea9e0;
  margin: 0.5rem 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

.subtitle {
  color: grey;
}

.body-font {
  font-family: "inter", sans-serif;
}

.confirm-button {
  background-color: #0350b5 !important;
  color: white !important;
}

.confirm-button:hover,
.confirm-button:focus {
  background-color: #023a82 !important;
  color: #fff !important;
}
